<div class="d-flex flex-column align-items-center">
  <div class="content-title">
    <h1 class="fw-bold custom-title">Certificado gerados</h1>
    <p class="mb-4 custom-subtitle">Visualizer todos os certificados gerados</p>
  </div>

  @if(certificados.length === 0){
  <div class="card custom-card w-100">
    <i class="ph ph-certificate"></i>

    <div class="custom-warning-title">
      <h3 class="card-title">Nenhum certificado gerado</h3>
      <p class="card-subtitle">Gere certificados para consultar o histórico</p>
    </div>
    <app-secondary-button
      routerLink="/certificados/novo"
      label="Gerar certificado"
    ></app-secondary-button>
  </div>

  } @if(certificados.length > 0){
  <div class="list-certificates w-100">
    @for (certificado of certificados; track $index) {
    <app-item-certicado
      [nomeAluno]="certificado.nome"
      [data]="certificado.dataEmissao"
      [id]="certificado.id"
    ></app-item-certicado>

    }
  </div>
  }
</div>
