<div class="d-flex flex-column align-items-center">
  <div class="d-flex justify-content-between menu-certificado w-100">
    <div routerLink="/" class="d-flex align-items-center btn-voltar">
      <i class="ph ph-arrow-left"></i>
      <p class="m-0">Voltar</p>
    </div>

    <app-secondary-button></app-secondary-button>
  </div>

  <div class="certificado d-flex justify-content-center align-items-center">
    <img
      class="icone-medal"
      src="certificates\Certificate_Ribbon.png"
      alt="icone de medalha"
    />
    <div class="conteudo-certificado">
      <img
        class="img-assinatura"
        src="/certificates/Certificate_Signature.svg"
        alt="assinatura"
      />

      <div class="info-certificado d-flex flex-column align-items-center">
        <div class="titulo-subtitulo-certificado">
          <h1>CERTIFICADO DE CONCLUSÃO</h1>
          <P>Este certificado comprova que</P>
        </div>

        <p class="nome-aluno">Ana Silva Lopes</p>
        <div class="lista-atividade-group">
          <p class="lista-atividade-titulo">
            Concluiu com sucesso as seguintes atividades
          </p>
          <p class="lista-atividade">mock de texto</p>
        </div>
      </div>
      <p class="data-emeissao">Emitido em 25/04/2025</p>
    </div>
  </div>
</div>
